<h1>LOGIN</h1>
<form action="/auth/login" method="post">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Sign In">
</form>
<a href="/auth/register">Create an account</a>


