<form action="/auth/register" method="post">
    <input type="text" name="email" placeholder="Dirección de E-mail">
    <input type="text" name="password" placeholder="Contraseña">
    <input type="text" name="firstName" placeholder="Nombre">
    <input type="text" name="lastName" placeholder="Apellido">
    <input type="submit" value="Sign up">
</form>
<a href="/auth/login">Already have an account?</a>