<!DOCTYPE html>
<html>
<head>
   <title>Password Reset Request</title>
</head>
<body>
   <h1>Password Reset Request</h1>
   <form method="post" action="/auth/reqpwreset">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      
      <button type="submit">Request Password Reset</button>
   </form>
</body>
</html>
